@page "/"

<h1>Welcome to Casper Fun</h1>

<MudText Class="mb-8">Build on Casper.</MudText>

<AuthorizeView>
    <Authorized>
        <h1>Hello</h1>
    </Authorized>
    <NotAuthorized>
        <h1>You're not signin</h1>
    </NotAuthorized>
</AuthorizeView>
