@page "/invest"
<p>
    <h1>Invest in the projects you believe in</h1>
    <br/>
</p>
<p>
    We are carefully selecting projects that have a sustainable business plan so your investments on our platform are always profitable in the long term.
</p>
<br/>
<h2>0 upcoming projects</h2>

@code {

}
